.serviceCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 8px;
  border: 1px solid var(--primary-xlight);
  border-radius: 10px;
  background-color: #fff;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.cardBody p,
.cardFooter p {
  font-size: calc(var(--font-size) * 0.9);
  margin-bottom: 10px;
  text-align: center;
  color: #000;
}

.icon {
  margin-bottom: 5px;
  color: var(--accent-color);
}
