.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 80px;
  padding: 0 8px;
  background-color: var(--primary-color);
  z-index: 5;
}

.logoContainer {
  display: flex;
  align-items: center;
  width: 50%;
  height: 80px;
  margin-right: auto;
}

.logo {
  height: 80px;
  min-height: 75px;
  width: 127px;
  min-width: 100px;
}
