.menuBtn {
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.menuBtn:hover {
  transform: scale(1.3);
}

@media screen and (min-width: 969px) {
  .mobileNav {
    display: none;
  }
}
